* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;   
	box-sizing: border-box;       
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

@font-face{ 
	font-family: Young; src: url('Young.ttf'); 
	font-family: coolvetica; src: url('coolvetica rg.ttf');
} 


body{
	font-family: 'Young', sans-serif;
	color: #3e3f3f;
	background: url("/images/diamondbackground2.png") middle center repeat-y;
	background: url("/images/diamondbackground2.svg") repeat-y, none;
	background-size: cover;
	padding-top: 15px;
	display: inline-block;
    width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
}


.pagesBody{
	font-family: 'Young', sans-serif;
}

a{
	color: #fdf634;
	text-decoration: none;
}

a:hover{
	color: #00a0a1;
	text-decoration: none;
}
/* Header, Footer and Navbar */


header{
	width: 100%;
}

.twglogo{
	/*content:url("/images/twglogo.svg");*/
	width: 45%;
	height: auto;
	display: inline-block;
	margin-left: 27.5%;	
	transform: scaleY(1) rotate(-8deg);
	-webkit-transform: scaleY(1) rotate(-8deg);
	-moz-transform: scaleY(1) rotate(-8deg);
	margin-top: -5px;
}

.nav{
	position: absolute;
	margin-top: -30%;
	padding-right: 3%;

}

.navSquares{
	right: 0;
	position: fixed;
	padding-right: 15px;
}

.navMenuHide{
	margin-right: 10px;
	margin-top: 60px;
	/*background-color:rgba(255, 255, 255, .6);*/
	right: 0;
	position: fixed;
	padding: 10px;
	text-align: right;
	display: none;
}

.navMenuHide ul{

	display: inline;
	line-height: 1.4;
	font-size: 1.3em;
	font-family: 'Young', sans-serif;
		/*
	width: 10%;
	padding: 10px; */
}

.navMenuHidePages{
	margin-right: 10px;
	margin-top: 60px;
	/*background-color:rgba(255, 255, 255, .6);*/
	right: 0;
	position: fixed;
	padding: 10px;
	text-align: right;
	display:none;
}

.navMenuHidePages ul{

	display: inline;
	line-height: 1.4;
	font-size: 1.3em;
	font-family: 'Young', sans-serif;
		/*
	width: 10%;
	padding: 10px; */
}

.navbar{
	position: absolute;
	right: 0;
}


.navbar ul li{
	padding-bottom: 2%;
}


.navMenuMargin{
	margin-top: 10px;
}

.navMenuMargin{
	margin-top: 3%;
}

.fb{
	width: 8%;
	text-align: left;
	padding: 10px 0px 10px 18px;
	margin-top: -45px;
}

.instagram{
	width: 8%;
	text-align: left;
	padding: 10px 0px 10px 18px;
	margin-top: -45px;
}

.twitter{
	width: 8%;
	text-align: left;
	padding: 10px 0px 10px 18px;
	margin-top: -45px;
}

.footer{
	width: 100%;
	background-color: #fdf634;
	padding: 15px;
	text-align: center;
}

.footer ul li{
	display: inline;
}

.dashfooter{
	width: 100%;
	background-color: #fdf634;
	padding: 20px;
	text-align: center;
	margin-bottom: -30%;
	padding-top: 20px;
}

.dashfooter ul li{
	display: inline;
}

/* 'What made your day great?' section */

.whatMadeBanner{
	width: 29%;
	margin-left: 35%;
	margin-top: -12%;
}

.whatmade{
	width: 100%;
	background-color: #fff;
	margin-top: 11%;
	border-top: 9px solid #fdf634;
	border-bottom: 9px solid #fdf634;
}


.whatmadeform form input[type='text'] {
   width: 70%;
   height: 100px;
   font-size: 20px;
   padding: 10px;
 }

 .whatmadeform form input[type='submit'] {
 	width: 30%;
 	padding: 7px;
 	border: 5px solid #fdf634;
 	background-color: #e7e7e4;
 	font-size: 1.3em;
 	color: #3e3f3f;
 	margin-top: -35px;
 	margin-bottom: 15px;
 	font-family: 'Young', sans-serif;
 	border-radius: 7px
 }


.whatmadeform{
 	text-align: center;
}

.form{
	margin-bottom: 30px;
}

.error ul{
	padding: 5px;
	text-align: left;
	color: #fff;
	background: #000;
}

/* Posts and content within posts */

.posts li{
	text-align: center;
	list-style: none;
	border: 8px double #00a0a1;
	padding: 40px 0px 15px 0px;
	width: 60%;
	margin: 40px auto;
	background-color: #fff;
}

 .posts {
 	width: 100%;
 	padding-bottom: 30px;
 }

 .postContent{
 	font-size: 1.6em;
 	font-weight: bolder;
 	padding: 0px 5px 5px 5px;
 }

 .userPagePosts li{
	padding: 20px 0px 15px 0px;

 }

 .space{
 	height: 20px;
 	width: 100%;
 }

.nameLocation{
	color: #bababa;
	text-decoration: none;
}

.nameLocation a{
	color: #bababa;
	text-decoration: none;
}

.nameLocation a:hover{
	color: #3e3f3f;
	text-decoration: none;
}

.editDestroy{
 	text-align: center;
 	padding-left: 5px;
 	margin-top: -30px;
 }

.editDestroy a{
 	color: #fff;
	text-decoration: none;
 }

.editDestroy a:hover{
	color: #3e3f3f;
	text-decoration: none;
}

.editpost{
	text-align: center;
	font-size: 1.6em;
	color: #fdf634;
	margin-top: 20px;
	padding-top: 30px;
}

/* Sign up forms */

.newUserForm{
	margin-bottom: 300px;
	font-size: 1.3em;
	padding-left: 20px;
}

.newUserForm p{
	padding-top: 10px;
}

.newPasswordForm{
	padding-top: 10px;
}

.errorMessage{
	color: #fff;
	padding: 5px;
	padding-left: 2%;
	margin-top: 30px;
}

.loginPage {
	padding-left: 0px;
	color: #fff;
	padding-top: 15px;
}

.error{
	color: #fff;
}

.formTitle{
	font-size: 1.4em;
	margin-top: 20px;
	margin-bottom: -30px;
	padding-left: 20px;
}

.deviseLinks{
	margin-left: 3px;
	padding-top: 15px;
}

.updateInfo{
	color: #ba1352;
}

.updateInfo:hover{
	color: #fdf634;
}

/* User Dashboard */

.accountInfo{
	margin-top: 50px;
}

.dashboardSection{
	margin-top: 0px;
	font-size: 30px;
	font-weight: bolder;
	padding: 10px;
	background-color: #fff;
	border-top: 9px solid #00a0a1;
}

.dashboardSection:hover{
	background-color: #fdf634;
}

.userInfo{
	padding: 10px;
	padding-bottom:30px;
	font-size: 1.3em;
	line-height: 1.6;
	background-color:rgba(255, 255, 255, .6);
	display: none;
}

.myposts{
	margin-top: 0px;
	padding-bottom: 30px;
}

.editAccount{
	line-height: 1.7;
	margin-bottom: 10%;
	padding-top: 40px;
	padding-left: 40px;
}

.userPosts{
	padding-bottom: 5%;
}

.postsSquares{
	margin-top: -5%;
}

.notificationsDrop{
	padding: 30px 10px;
	font-size: 1.3em;
	line-height: 1.6;
	background-color:rgba(255, 255, 255, .6);
	display: none;
}


/* About and Contact Page */

.pagesBody{
	padding-top: 20px;
}

.pagesStyle {
	margin-top: 20px;
	font-family: 'Young', sans-serif;
}

.aboutCopy{
	width: 75%;
	height: 700px;
	background-color: rgba(255, 255, 255, .6);
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.aboutCopy h1{
	font-size: 2em;
	text-align: center;
	padding-top: 25px;
	font-family: 'coolvetica', sans-serif;
}

.aboutCopy h2{
	margin-left: 5%;
	font-family: 'Young', sans-serif;
	font-size: 2em;
	padding-top: 15px;
}

.aboutCopy p{
	font-family: 'Young', sans-serif;
	padding: 2% 5% 0 5%;
	line-height: 1.6;
}

.contactCopy{
	font-family: 'Young', sans-serif;
	padding: 0% 5% 0 5%;
	line-height: 1.6;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

.contactForm{
	margin-top: 2%;
	text-align: center;
	color: #fff;
}

/* **************** MOBILE CSS STARTS HERE **************** */

@media screen and (max-width: 480px) { 

body{
	font-family: sans-serif;
	background: url("/images/diamondbackgroundm.png") middle center repeat-y;

}

/*
.twglogo{
	width: 47%;
	margin-left: 27%;
	transform: scaleY(1) rotate(0deg);
	-webkit-transform: scaleY(1) rotate(0deg);
	-moz-transform: scaleY(1) rotate(0deg);
	padding-bottom: 10px;
	margin-top: 3px;
}
*/

.navMenuHide{
	margin: 0 auto;
	right: 50;
	text-align: center;
	width: 100%;
	height: 220px;
	position: relative;
	margin-top: 10px;
}

.navMenuHide ul{
	display: inline;
	line-height: 1.4;
	font-size: 1.3em;
	font-family: 'Young', sans-serif;
		/*
	width: 10%;
	padding: 10px; */
}

.nav{
	position: relative;
	width: 100%;
	margin-top: 0px;
	margin: 0 auto;
	text-align: center;
}

.navMenuHidePages{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 150px;
	position: relative;
}

.navMenuHide ul li{
	background-color: #00a0a1;
	padding: 10px;
	border: 1px solid #fff;
}

.navMenuHide ul li:hover{
	background-color: #ae1d68;
	color: #fdf634;
}

.navMenuHidePages ul li{
	background-color: #00a0a1;
	padding: 10px;
	border: 1px solid #fff;
}

.navMenuHidePages ul{
	display: inline;
	line-height: 1.4;
	font-size: 1.3em;
	font-family: 'Young', sans-serif;
		/*
	width: 10%;
	padding: 10px; */
}

.navMenuHidePages ul li:hover{
	background-color: #ae1d68;
	color: #fdf634;
}

.navSquares{
	position: absolute;
	margin-top: -35%;
}


.whatmadeform form input[type='text'] {
   width: 90%;
   height: 80px;
 }

 .whatmadeform form input[type='submit'] {
 	width: 250px;
 	font-size: 16px;
 	margin-top: -35px;
    margin-bottom: 15px;
 }
.whatMadeBanner{
	width: 29%;
	margin-left: 35%;
	margin-top: -3%;
}

.whatmade{
	width: 100%;
	margin-top: 4%;
}




.posts li{
	text-align: center;
	list-style: none;
	border: 8px double #00a0a1;
	padding: 30px 0px 15px 0px;
	width: 100%;
	margin: 30px auto;
	background-color: #fff;
}

.posts{
	padding: 0px;
}



.aboutCopy{
	width: 100%;
}
}